body {
    width: 100%;
    background-color: #EEEEEE;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 74px;
    background-color: #EEEEEE;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    position: fixed;
    z-index: 100;
    margin: 0px;
}


nav {
    width: 90%;
    height: 74px;
    margin: 0 auto;
    padding: 0px 20px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.uni-logo {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
    display: inline-block;
    object-fit: cover;
    width: 80px;
    padding-left: 0px;
    padding-top: 10px;
}

.menu {
    margin-left: auto;
    margin-right: 0px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px 20px;
    display: inline-block;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    margin-left: auto;
    margin-right: 0px;
    margin-top: auto;
    margin-bottom: auto;
}

.menu ul li a {
    text-decoration: none;
    color: #36384E;
    font-size: 15px;
    font-weight: 500;
}

.menu ul li a:hover {
    font-weight: bold;

}

.menu ul li a.active {
    font-weight: bold;
}

.login {
    margin-left: auto;
    margin-right: 0px;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    row-gap: 30px;
    padding: 0px;
}

.l-btn {
    background-color: #EEEEEE;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 2px;
    cursor: pointer;
}

.l-btn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.s-btn {
    background-color: #E5B300;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 2px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 3px;
    margin-right: 0px;
    margin-left: 24px;
}

.s-btn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.s-btn a {
    color: white;
    text-decoration: none;
}


#homepage-section {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 508px;
    padding-top: 74px;
    margin-bottom: 0px;
}

.home-image {
    width: 100%;
    height: 508px;
    object-fit: cover;
}

.text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.hero-text {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.hero-sub-text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

#uni-details {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px 0px;
    display: block;
    /* changed from inline-block */
    justify-content: center;
    align-items: center;
    text-align: center;
}


.uni-head {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-family: 500;
    color: #282a3a;
    letter-spacing: 1px;
}

.uni-text {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #36384E;
    line-height: 2;
    letter-spacing: 1px;
}

footer {
    width: 100%;
    background-color: #36384E;
    display: flex;
    /* Makes the footer a flexbox container */
    flex-direction: column;
    /* Stacks the elements vertically */
    align-items: center;
    /* Centers the elements horizontally */
    justify-content: center;
    /* Centers the elements vertically */
}

.social-media {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    text-align: center;
}

.social-icon {
    width: 25px;
    height: 25px;
    margin: 0px 10px;
    padding: 0px;
    display: inline-block;
    object-fit: cover;
}

.foot-links {
    display: block;
    list-style: none;
    /* justify-content: center;  - Remove this line if you don't want to center the links horizontally */
    margin-left: auto;
    margin-right: auto;
    /* align-items: center;  - Remove this line if you don't want to center the links vertically */
}

.foot-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    margin-bottom: 10px;
    /* align-items: center;  - Remove this line if you don't want to center the links vertically */
}

.foot-links ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    margin-left: 25px;
    padding: 0px;
    display: block;
    letter-spacing: 1px;
    padding-bottom: 7px;
}

.foot-text {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
    margin: 0px auto;
    padding: 0px;
    padding-left: 60px;
    display: block;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 7px;
}
