body {
    font-family: 'Roboto', sans-serif;
    background: url(black-background.gif);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#calculator button {
    text-align: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#calculator button:hover {
    background-color: hsl(0, 0%, 40%);
}

#calculator button:active {
    background-color: hsl(0, 0%, 50%);
}

/* Make the operator button styles more specific */
#calculator .operatorBtn {
    background-color: hsl(35, 100%, 55%);
}

#calculator .operatorBtn:hover {
    background-color: hsl(35, 100%, 65%);
}

#calculator .operatorBtn:active {
    background-color: hsl(35, 100%, 75%);
}

#calculator #keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#calculator {
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    margin: auto;
    margin-top: 30px;
}

#calculator #display {
    width: 100%;
    font-family: monospace;
    font-size: 3rem;
    font-weight: 600;
    padding: 20px;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    border-bottom: 2px solid hsl(0, 0%, 20%);
}

#calculator .backspaceBtn {
    background-color: hsl(0, 100%, 50%);
}

#calculator .backspaceBtn:hover {
    background-color: hsl(0, 100%, 60%);
}

#calculator .backspaceBtn:active {
    background-color: hsl(0, 100%, 70%);
}
